.ledmonitor {
  padding: 10px;

  .led-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 0px 18px;
    margin: 4px;
  }

  .led-btn.on {
    background: green;
  }

  .led-btn.off {
    background: red;
  }

  .ledpos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .led-circle {
      width: 27px;
      height: 27px;
      border-radius: 20px;
      border: 1px solid #ececec;
      display: inline-block;
      margin: 0px 10px;
    }

    .led-circle.on {
      background: green;
    }

    .led-circle.off {
      background: red;
      ;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.total-energy {
  background: #303f9f;
  color: white;
  padding: 20px;

  h3 {
    font-size: 45px;
  }
}

.frequency {
  background: #303f9f;
  color: white;
  padding: 20px;

  h3 {
    font-size: 45px;
  }
}
